<!-- Status messages to be displayed -->
<div rh-message-bag messages="messageService"></div>

<div class="jumbotron">
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <!-- Standard html text input, whose value is bound to a value in the Customers controller, and used to filter customers-->
        <input type="text" class="form-control" placeholder="Search" name="customer-search-term" id="customer-search-term" ng-model="search">
    </div>
</div>

<div>
    <!-- A list of stored customers -->
    <div class="contact-list-heading clearfix">
        <p class="pull-left">Customer {{(details)?'Details':'Name'}}</p>
        <button class="btn pull-right" id="toggleDetails" ng-click="details=!details">
            <span class="glyphicon {{(details)?'glyphicon-resize-small':'glyphicon-resize-full'}}"></span>
        </button>
        <a href="#/customers/add" class="btn pull-right" role="button" id="addCustomer">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <ul class="contact-list letter-headings">
        <li class="letter-heading" ng-repeat="(heading, subset) in customers | orderBy: heading">
            <p>{{heading}}</p>
            <ul class="contacts">
                <!-- The list is built using Angular's ng-repeat functionality, iterating over customer objects in customers -->
                <li class="contact" ng-repeat="customer in subset | orderBy: 'name'">
                    <a href="#/customers/{{customer.id}}">{{customer.name}}</a>
                    <div class="contact-details" ng-show="details">
                        <p>
                            <strong>{{customer.email}}</strong>
                        </p>
                        <p>
                            {{customer.phoneNumber}}
                        </p>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>